html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
  background-color: #1D6ADA; 
}

#game {
  position: absolute;
  top: 0px;
  left: 0px;
  background-position-y: 0px;
  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

#menu {
  display: block;
  position: absolute;
  top:20%;
  left:20%;
  width: 60%;
  height: 60%;
  background-color: #000000aa;
  border: 3px solid black;
  color: white;
  text-align: center;
  overflow-y: auto;
}

#inputTable {
  margin: 0 auto;
}

#informationDisplay, #robberDisplay, #pickResource, #monopolyResource, #playerTradeDisplay, #acceptTradeDisplay, #winnerDisplay {
  background-color: #000000aa;
  border: 3px solid black;
  position: absolute;
  left: 10%;
  top: 20%;
  width: 47%;
  height: 60%;
  display: none;
  color: white;
  text-align: center;
  overflow-y: auto;
}

#sidebar {
  background: linear-gradient(90deg, #000000cc,#00000099);
  border-left: 5px solid black;
  position: absolute;
  width: 33%;
  height: 100%;
  right: 0px;
  top: 0px;
  display: none;
  
}

#playerInfo {
  width: 100%;
  height: 50%;
  overflow-y: auto;
  border-bottom: 5px solid black;
}

#cardTable, #robberTable, #resourceStealing, #requestTradeTable, #tradeAcceptTable {
  width:90%;
  margin:auto;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.8); 
}

#generalInfo {
  width: 100%;
  height: 50%;
  overflow-y: auto;
}

#redDice {
  font-size: min(100vh/10*3/10*6/5*4,100vw/3/10*6/5*4);
  text-align: center;  
  background-color: red;
  width: 50%;
  height: 100%;
  border: 3px solid black;
  border-collapse: collapse;
}

#yellowDice {
  font-size: min(100vh/10*3/10*6/5*4,100vw/3/10*6/5*4);
  text-align: center;
  background-color: yellow;
  width: 50%;
  height: 100;
  border: 3px solid black;
  border-collapse: collapse;
}

.sidebarButton {
  width:100%
}

#dieTr{
  height:80%
}

#rollDieTr{
  height: 20%
}

#dieTable{
  width: min(100vh/10*3,100vw/3);
  height: min(100vh/10*3/10*6,100vw/3/10*6);
}

#buildingTable{
  width: min(100vh/10*3,100vw/3);
  height: min(100vh/10*3/10*6,100vw/3/10*6);
  color: white;
}

#resourcesInBank{
  color: white;
  display: block;
}

#shop{
  display: none;
}

#buyData{
  color: white; 
  display: none;
}

#placeRobberInfo{
  color: white; 
  display: none;
}

.buildingTd, .resourceTd{
  color:white
}

.resourceBtn {
  width: 25%;
  height: 20%;
  font-size: 25px;
}

#tradeWithBank{
  display:none;
  color: white;
}

table, th, td {
/*   border: 1px solid white; */
}
